*{
    box-sizing:border-box; 
}
a, abbr, acronym, address, applet, b, big, blockquote, body, button, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, title, tr, tt, u, ul, var {
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
body{
    font-family: Arial,Helvetica,sans-serif;
    /* background-image:url(54429A06-AD9B-4F85-B383-4515B3BE2F44.JPG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; */
    overflow-x:hidden;
    overflow-y:auto;
}
.main0{
    position:relative;
    color:white;
    text-align:center;
    background-image:url('FBA68531-C735-45C4-A96E-43D0E2217337 (2).JPG');
    background-position-y:2650px;
    margin-left:calc((100% - 780px) * 0.5);
    width:780px;
    height:130px;
} 
h1{ font-size: 50px; line-height:100px;}
h2{ font-size: 35px;}
h3{ color:rgb(0, 74, 173);}
h4{ font-size:18px;}
.header5{
    position:relative;
    top:48px;
    background:white;
    color:rgb(0,74,173);
    padding-left:561px;
    padding-top:7px;
    margin-left:calc((100% - 780px) * 0.5);
    width:780px;
}
.main1{
    position:relative;
    background:white;
    top:50px;
    display:grid;
    grid-template-columns:auto auto auto;
    column-gap:150px;
    text-align:center;
    margin-left:calc((100% - 780px) * 0.5);
    width:780px;
}
.main2{
    position:relative;
    background:rgb(0,74,173);
    color:white;
    top:100px;
    margin-left:calc((100% - 780px) * 0.5);
    width:780px;
}
.container2{
    display:grid;
    grid-template-columns:auto auto auto auto;
    column-gap:95px;
    padding:15px 0;
    justify-items:center;
    font-weight:bold;
    font-size:18px;
}
.main3{
    position:relative;
    background:white;
    color:black;
    top:150px;
    margin-left:calc((100% - 780px) * 0.5);
    width:780px;
}
.container3{
    display:grid;
    grid-template-columns:auto auto auto auto;
}
.forpdf{
    padding-left:10px;
}
.title-gap{
    padding-left:125px;
    padding-right:120px;
}
.line{
    margin-top:130px;
    border:3px solid rgb(0, 74, 173);
}
.container5{
    padding-top:30px;
    padding-left:18px;
    line-height:25px;
}
.name{font-size:15px} .ins{font-size:15px}
.icon{
    margin-left:700px;
}
.container6{
    display:grid;
    grid-template-columns:auto auto;
}
.main4{
    position:relative;
    top:200px;
    color:white;
    display:grid;
    grid-template-columns:auto auto auto;
    background-image:url('FBA68531-C735-45C4-A96E-43D0E2217337 (2).JPG');
    background-position-y:2650px;
    margin-left:calc((100% - 780px) * 0.5);
    width:780px;
    height:100px;
    text-align:center;
}
.main4-gap{
    line-height:30px;
}
.main5{
    position:relative;
    top:300px;
    margin-left:calc((100% - 780px) * 0.5);
    width:780px;
    display:grid;
    grid-template-columns:1fr 1fr;
}
.container7{
    text-align:end;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.main6{
    position:relative;
    top:330px;
    text-align:center;
    margin-left:calc((100% - 780px) * 0.5);
    width:780px;
}
#button{
    display:block;
    background:rgb(253, 0 ,95);
    color:white;
    font-size:30px;
    font-weight:bold;
    padding:5px 60px;
    border-radius:5px;
    margin-left:calc((100% - 450px) * 0.5);
    margin-top:8px;
    width:450px;
}
.main7{
    position:relative;
    top:340px;
    margin-left:calc((100% - 780px) * 0.5);
    width:780px;
    left:20px;
}
.banklogo{
    background:transparent;
}
.invoice_input{
    border: 0cm;
}