<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../webNode/views/style.css" type="text/css">
</head>
<body>
    <div id="Top">
        <nav class="navbar sticky-top navbar-expand-md navbar-dark" id="nav">
            <div class="topthings">
                <form action="/admins/After/reload" method="post">
                    <input type="image" alt="logo" src="../webNode/views/small lbsx.png" id="img">
                </form>
            </div>
            <h4>Details</h4>
        </nav>
    </div>

    <nav id="details_content">
        <ul class="details_list list-inline">
            <li class="list-inline-item">
                <div class="details_box">
                    <div id="parents_name">
                        Perceptors details
                    </div>
                    <div id="parents_details">
                        Perceptors Name: <%= JSON.stringify(ceptors_results[0]['Perceptors']).slice(1, JSON.stringify(ceptors_results[0]['Perceptors']).length-1) %>
                    </div>
                </div>
            </li>
            <% for( let i = 0; i < rents_results.length; i++ ) { %>
                <li class="list-inline-item">
                    <div class="details_box">
                        <div id="childs_name">
                            Parents details
                        </div>
                        <div id="childs_details">
                            Parents: <%= JSON.stringify(rents_results[i]['Parents']).slice(1, JSON.stringify(rents_results[i]['Parents']).length-1) %>
                        </div>
                    </div>
                </li>
            <% } %>
        </ul>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>